.wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}

.avatar {
    margin-right: 4px;
}

.welcome {
    /* font-size: 28px; */
    color: #ab0000;
}

.userNameLink {
    display: inline-block;
    text-decoration: none;
}

.userName {
    font-weight: 700;
    font-size: 90%;
    color: #0070a0;
    margin-right: 40px;
}

.userEmail {
    font-weight: 500;
    font-size: 80%;
}

.btnLogout {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    /* padding: 12px; */
    font-weight: 700;
    border: 1px;
    border-radius: 4px;
    color: #2a363b;
    background-color: rgb(255, 153, 0);
}

